
<%= image_tag asset_url("CompressedSignup.jpg"), class: "background-image" %>

<h1 class = "create-account">Create an account</h1>


<%= render 'form' %>

<div class = "back-link"><%= link_to 'Back to login', root_path %></div>
