<%= image_tag asset_url("CompressedSignup.jpg"), class: "background-image" %>

<h1 class = "create-account">Create an account</h1>
<%= render 'form' %>
<div class="back-link"><%= link_to 'Already have an account? Log in.', root_path %></div>
