
<<<<<<< HEAD
<%= image_tag asset_url("CompressedSignup.jpg"), class: "background-image" %>

=======
<%= image_tag asset_url("cloudy-forest.jpg"), class: "background-image" %>
>>>>>>> f3bf5384c261a90a0432178b9d1ffde7a4223837
<h1 class = "create-account">Create an account</h1>
<%= render 'form' %>
<div class="back-link"><%= link_to 'Already have an account? Log in.', root_path %></div>
