<%= image_tag asset_url("file_not_found.jpg"), class: "questionnaire-image" %>

<div class="not-found">
  <h1> Questionnaire not found</h1>
</div>

<div class="not-found-link"><%= link_to "Sign Up", signup_path %><br>
<%= link_to 'Login', login_path %></div>
