
<%= image_tag asset_url("thank_you.jpg"), class: "questionnaire-image" %>

<div class="thank-you">
  <h1> Thank you for taking the Survey </h1>
</div>

<div class="thank-link"><%= link_to 'Sign Up', signup_path %><br>
  <%= link_to 'Login', login_path %>
</div>
