/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require reset
 */

$borderStyle: solid 2px black;
$borderRadius: 3px;
$fontFamily: 'Raleway', sans-serif;

#pubdSurveys {
  border: $borderStyle;
  border:{
    radius: $borderRadius;
  };
  display: inline-block;
  width: 45%;
  margin-left: 4%;
  float: left;
  font-family: $fontFamily;
}

#savedSurveys {
  border: $borderStyle;
  border: {
    radius: $borderRadius;
  }
  display: inline-block;
  width: 45%;
  margin-left: 1%;
  font-family: $fontFamily;
}

.divTitle {
  border-bottom: $borderStyle;
  text-align: center;
  padding-bottom: 5px;
  font-size: 2em;
}

.noPubSurveys {
  font: {
    size: 1.2em;
    weight: bold;
  }
  text-align: center;
  display: none;
  margin:{
    top: 5px;
    bottom: 5px;
    left: 5px;
  }
}

.noSavedSurveys {
  font: {
    size: 1.2em;
    weight: bold;
  }
  text-align: center;
  display: none;
  margin:{
    top: 5px;
    bottom: 5px;
    left: 5px;
  }
}

.survey {
  margin-top: 5px;
}

.surveyName {
  display: inline-block;
  font-size: 1.5em;
  padding-left: 5px;
  width: 300px;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.surveyActions {
  float: right;
  padding-top: 3px;
}

.fa-bar-chart, .unpubButton, .deleteButton, .pubButton, .editButton{
  display: inline;
  // float: right;
  padding: 2px;
  border: $borderStyle;
  border-radius: $borderRadius;
  font-weight: bolder;
  margin:{
    right: 5px;
    bottom: 5px;
  }
}

.fa-bar-chart {
  padding-top: 3px;
}

a {
  text-decoration: none;
}


.newSurvey {
  font-style: italic;
  margin:{
    left: 5px;
    bottom: 5px;
    top: 5px;
  }
}

#plus {
  margin-right: 5px;
}
// i {
//
// }
