/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require reset
 */

$borderStyle: solid 2px lightgrey;
$borderRadius: 3px;
$fontFamily: 'Raleway', sans-serif;

$blueaccent: #2d798d;
$greenaccent: #223127;
$deletecolor: #FF101F;

// styling for header

.header {
  margin-bottom: 75px;
  background-color: #555444;
  padding: 10px;
}

.app-name {
  position: relative;
  right: 760px;
  color: white;
  display: inline;
  font-family: $fontFamily;
  font-size: 2em;
}


.userInfo {
  float: right;
  position: relative;
  font-family: $fontFamily;
  padding:{
    top: 15px;
    right: 20px;
  }
}

.userName {
  margin-right: 8px;
  font-size: 1.5em;
}

.profile_dropdown {
  font-size: 1.2em;
  padding: 5px;
  width: 171px;
  display: none;
  background: #555444;
  position: absolute;
  top: 50px;
  left: -70px;
  // border-radius: $borderRadius;
  z-index: 1;
    a {
      color: black;
    }
}

.dropdownItem {
  padding: 5px;
}

.opposumicon {
  width: 60px;
}

// styling for dashboard page

body {
  background-color: #eef1f4;
}

.pubSurveyList, .savedSurveyList {
  background-color: white;
}

#pubdSurveys {
  border: $borderStyle;
  border:{
    radius: $borderRadius;
  };
  display: inline-block;
  width: 45%;
  margin-left: 4%;
  float: left;
  font-family: $fontFamily;
    a {
      color: white;
    }
    i {
      color: black;
    }
}

#savedSurveys {
  border: $borderStyle;
  border: {
    radius: $borderRadius;
  }
  display: inline-block;
  width: 45%;
  margin-left: 1%;
  font-family: $fontFamily;
  a {
    color: white;
  }
}

.divTitle {
  border-bottom: $borderStyle;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 2em;
}

.noPubSurveys {
  font: {
    size: 1.2em;
    weight: bold;
  }
  text-align: center;
  display: none;
  margin:{
    top: 5px;
    bottom: 5px;
    left: 5px;
  }
}

.noSavedSurveys {
  font: {
    size: 1.2em;
    weight: bold;
  }
  text-align: center;
  display: none;
  margin:{
    top: 5px;
    bottom: 5px;
    left: 5px;
  }
}

.survey {
  padding-top: 5px;
}

.surveyName {
  display: inline-block;
  font-size: 1.25em;
  font-family: sans-serif;
  padding-left: 5px;
  width: 300px;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.surveyActions {
  float: right;
  padding-top: 3px;
}

.fa-bar-chart, .unpubButton, .deleteButton, .pubButton, .editButton{
  display: inline;
  // float: right;
  padding: 5px;
  // border: $borderStyle;
  border-radius: $borderRadius;
  font-weight: bolder;
  margin:{
    right: 5px;
    bottom: 5px;
  }
}

.deleteButton {
  background: #555444;
}

.unpubButton, .pubButton, .editButton, .divTitle {
  background: $blueaccent;
}

.fa-bar-chart {
  padding-top: 3px;
}

a {
  text-decoration: none;
}

.surveyLink{
  font-size: .8em;
  font-family: sans-serif;
  margin-left: 5px;
  display: inline-block;
}

.surveyShare {
  display: inline-block;
  margin-left: 15px;
}

.newSurvey {
  font-style: italic;
  color: black;
  margin:{
    left: 5px;
    bottom: 5px;
  }
  padding {
    top: 15px;
  }
}

#plus {
  margin-right: 5px;
}


//  -------- Login Page Styling -----------  //

.background-image {
  position: relative;
  width: 100%;
}
//this targets every background image, this class doesn't only apply to the login/landing page

.login-ribbon {
  color: white;
  font-size: 4em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  // background: hsla(360, 100%, 100%, 0.5);
  position: absolute;
  top: 200px;
  left: 0;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  input {
    font-family: sans-serif;
    color: white;
    border: solid 3px #fff;
    line-height: 1.5;
    padding: 5px 10px;
    background: transparent;
    font-size: 0.4em;
  }
}

h2 {
  font-size: 2em;
}

.create-new {
  margin-top: 140px;
  text-decoration: none;
  color: white;
  a:link, a:visited {
    color: white;
    font-size: 0.5em;
  }
}


//removes blue blur on focus of all following elements
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

//  -------- New Author Styling -----------  //
// http://localhost:3000/signup

// .emailfield {
//   border: solid 2px red;
// }
// test to make sure I am targeting the form correctly

.create-account {
  position: absolute;
  text-align: center;
  top: 150px;
  color: white;
  font-family: "Raleway", sans-serif;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 4em;
}

// the whole new author form
#new_author {
  color: white;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  position: absolute;
  top: 220px;
  left: 0;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
    input {
      margin-top: 15px;
      font-family: sans-serif;
      color: white;
      border: solid 3px #fff;
      line-height: 1.5;
      padding: 5px 10px;
      background: transparent;
      font-size: 0.8em;
    }
}

// --------- View/Edit Profile Page ---------
// localhost:3000/profile

.edit_author {
  text-align: center;
    input {
      font-family: sans-serif;
      line-height: 1.5;
      padding: 5px 10px;
      background: white;
      font-size: 1em;
      margin-top: 5px;
      border: solid 2px lightgray;
    }
}

.edit-profile {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  text-align: center;
}

//navigates back to dashboard
.back-to-dash {
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
}

// ----- Change password Page ------
.change-pw-label {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  text-align: center;
}

.change-pw {
  text-align: center;
  input {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 5px 10px;
    background: white;
    font-size: 1em;
    margin-top: 5px;
    border: solid 2px lightgray;
  }
}

// ------- Show survey results ------

.survey-contents {
  border: $borderStyle;
  border-radius: $borderRadius;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  font-family: sans-serif;
    .title-name {
      margin-bottom: 15px;
      font-family: "Raleway", sans-serif;
      font-size: 2em;
    }
    .question-answer{
      margin-bottom: 45px;
    }
    .question-text, .answer-text {
      margin-top: 10px;
    }
}

.description-name {
  padding-bottom: 20px;
  border-bottom: $borderStyle;
}

.question-contents {
  margin-top: 40px;
}


//-------- Edit Survey -------

.edit_survey {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
}
