/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require reset
 */

// NOTE: There is some remaining live styling in scaffolds.scss

$borderStyle: solid 2px black;
$borderRadius: 3px;

#pubdSurveys {
  border: $borderStyle;
  border:{
    radius: $borderRadius;
  };
  display: inline-block;
  width: 45%;
  margin-left: 4%;
  float: left;
}

#savedSurveys {
  border: $borderStyle;
  border: {
    radius: $borderRadius;
  }
  display: inline-block;
  width: 45%;
  margin-left: 1%;
}

.divTitle {
  border-bottom: $borderStyle;
  text-align: center;
  padding-bottom: 5px;

}

.surveyName {
  display: inline;
  font-size: 1.5em;
  padding-left: 5px;
}

.fa-bar-chart, .unpubButton, .deleteButton, .pubButton, .editButton{
  display: inline;
  float: right;
  padding: 2px;
  border: $borderStyle;
  border-radius: $borderRadius;
  margin:{
    right: 5px;
    bottom: 5px;
    left: 5px;
  }
}

.newSurvey {
  font-style: italic;
  margin:{
    left: 5px;
    bottom: 5px;
  }
}

#plus {
  margin-right: 5px;
}
// i {
//
// }


//  -------- Login Page Styling -----------  //

.background-image {
  position: relative;
  width: 100%;
}

.login-ribbon {
  color: white;
  font-size: 4em;
  font-family: "Raleway", sans-serif;
  text-align: center;
  // background: hsla(360, 100%, 100%, 0.5);
  position: absolute;
  top: 200px;
  left: 0;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

h2 {
  font-size: 2em;
}

input {
  font-family: sans-serif;
  color: white;
  border: solid 3px #fff;
  line-height: 1.5;
  padding: 5px 10px;
  background: transparent;
  font-size: 0.4em;
}

//removes blue blur on focus
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

//  -------- New Author Styling -----------  //
